*{
  background-color: black;
  font-family: Verdana;
}

h1{
   font-weight: Normal;
   font-size: 50px;
   color: white;
   align-text: center;
   }
   
h2{
   color: aquamarine;
   font-size: 16px;
   }
 
 p{
   font-size: 21px;
   font-color: gray;
   }
